<div class='hero-unit'>

  <div class='logo-spotlights'>
    <%= image_tag 'radial light.png', class: 'radial-light' %>
    <%= image_tag 'spotlights.png', class: 'spotlights' %>
    <%= image_tag 'logo.png' %>
  </div>

  <h2>TV Advertising for the connected experience</h2>
  
  <div class='tv-message'>
    <%= image_tag "tv.png", class: 'tv' %>
  </div>
</div>