.action-homepage-index {

  .hero-unit {
    background: inherit;
    text-align: center;
    padding-bottom: 0px;
  }

  .logo-spotlights {
    position: relative;
    margin-bottom: 35px;
  }

  .spotlights {
    position: absolute;
    top: -80px;
    right: 170px;
    z-index: -1;
  }

  .radial-light {
    position: absolute;
    top: -60px;
    right: 100px;
    z-index: -1;
  }

  h1, h2 {
    color: #ddd;
    font-weight: normal;
    font-family: QuicksandBook, $helvetica;
    text-shadow: 0px 1px 1px #111;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 50px;
  }

  .tv-message {
    padding-top: 25px;
  }

  .hr {
    text-align: center;
  }

  .content {
    padding-top: 35px;
    text-align: center;

    h1 {
      padding-bottom: 50px;
    }

    .row {
      padding-bottom: 10px;
    }

    .contact-info {

      // generalize this later...
      button {
        $color: #eee;
        $background-color: #f37620;
        
        @include awesome-button($background-color, $color);
        @include linear-gradient(top, #f39555, $background-color);
        @include border-radius(5px);
        color: $color;
        background-color: $background-color;
        padding: 5px 8px 6px !important;
        width: 100px;
        font-weight: bold;
        
        margin-top: 35px;
        font-size: 20px;
        width: 160px;
        height: 40px;
      }

      .twitter-user {
        font-size: 24px;
        color: #557e96;
        display: block;
        text-shadow: 0px 1px 1px #111;
      }
    }

    .quote-image {
      text-align: left;
    }
    
    .quotes {
      text-align: left;

      p {
        font-family: Georgia;
        font-style: italic;
        font-size: 16px;
        color: #cbcbcb;
        width: 80%;
        display: block;
      }

      .quoted {
        font-family: Arial, $helvetica;
        font-size: 12px;
        color: #557e96;
        display: block;
        float: right;

        .name {
          display: block;
        }
      }
    }
  }
}