.action-homepage-index {
  
  .hero-unit {
    background: inherit;
    text-align: center;
    padding-bottom: 0px;
  }

  .logo-spotlights {
    position: relative;
    margin-bottom: 35px;
  }

  .spotlights {
    position: absolute;
    top: -80px;
    right: 170px;
    z-index: -1;
  }

  .radial-light {
    position: absolute;
    top: -60px;
    right: 100px;
    z-index: -1;
  }

  h1, h2 {
    color: #ddd;
    font-weight: normal;
    font-family: QuicksandBook, $helvetica;
    text-shadow: 0px 1px 1px #111;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 50px;
  }

  .tv-message {
    padding-top: 25px;
  }

  .hr {
    text-align: center;
  }

  .content {
    padding-top: 35px;
    text-align: center;

    h1 {
      padding-bottom: 50px;
    }
    
    .row {
      padding-bottom: 10px;      
    }

    .contact-info {
      text-shadow: 0px 1px 1px #111;      

      button {
        font-weight: 500;
        margin-top: 35px;
        font-size: 24px;
        width: 190px;
        height: 50px;
      }

      .twitter-user {
        font-size: 24px;
        color: #557e96;
        display: block;
      }
    }

    .quote {
      text-align: left;

      p {
        font-family: Georgia;
        font-style: italic;
        font-size: 16px;
        color: #cbcbcb;
        width: 80%;
        display: block;
      }

      .quoted {
        font-family: Arial, $helvetica;
        font-size: 12px;
        color: #557e96;
        display: block;
        float: right;

        .name {
          display: block;
        }
      }
    }
  }  
}