.action-homepage-index {
  .hero-unit {
    background: inherit;
    text-align: center;
  }

  .logo-spotlights {
    position: relative;
    margin-bottom: 35px;
  }

  .spotlights {
    position: absolute;
    top: -80px;
    right: 170px;
    z-index: -1;
  }

  .radial-light {
    position: absolute;
    top: -60px;
    right: 100px;
    z-index: -1;
  }

  h2 {
    color: #ddd;
    font-weight: normal;
    font-family: QuicksandBook, $helvetica;
    font-size: 30px;
    text-shadow: 0px 1px 1px #111;
  }

  .tv-message {
    padding-top: 25px;
  }
}