$text-color: #eeeeee;
$link-color: #557e96;
//$link-color: rgb(085, 127, 149);

$button-gradient-top: rgb(216, 128, 032);
$button-gradient-bottom: rgb(146, 062, 015);

body, html {
  height: 100%;
  min-height: 1248px;
  min-width: 960px;
}

body {
  background: image-url('bubbles-right-2.png') no-repeat bottom right,
              image-url('bubbles-left-2.png') no-repeat bottom left,
              image-url('background.png') center center repeat;

  font-size: 12px;
  font-family: $helvetica;
  color: $text-color;
}

a {
  text-decoration: none;

  &, &:hover, &:active {
    color: $link-color;    
  }
}

li {
  list-style-type: none;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.clear {
  clear: both;
}

.clearfix {
  zoom: 1;

  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  };
}
